.maplibregl-popup-content {
    width: 300px;
}

#legend ul {
    list-style: none;
    padding: 0;    
    margin: 4px;
}

#legend li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 12.5px;
    line-height: 20px;
}

#legend {
    position: absolute;
    right: 10px;
    top: 170px;
    z-index: 9999;
}

#divLegend {
    background: white;
    padding: 8px 6px 2px 8px;
}