/* ============================== */
/* OVERALL		                  */
/* ============================== */
html,
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

:root {
	--primaryColor: #006eaf;
	--secondaryColor: #ffcc00;
	--tertiaryColor: #3a4044;
	--quaternaryColor: #d9dee8;

	--borderRadius: 4px;
	--boxShadow: 0 0 0 2px rgba(0, 0, 0, .1);
}

#MobiDataBW img {
	width: 130px;
	position: absolute;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	bottom: 10px;
	right: calc(50% - 70px);
	z-index: 1000;
	border-radius: var(--borderRadius);
}

@media (max-width:768px) {
	#MobiDataBW {
		display: none;
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	#MobiDataBW img {
		width: 120px;
	}
}


/* ============================== */
/* ATTRIBUTION CONTROL            */
/* ============================== */
@media (max-width:768px) {
	.maplibregl-ctrl-attrib-inner {
		font-size: 10px;
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	.maplibregl-ctrl-attrib-inner {
		font-size: 11px;
	}
}


/* ============================== */
/* POPUPS		                  */
/* ============================== */
.maplibregl-popup {
	min-width: min-content;
}

.maplibregl-popup-content {
	border-radius: var(--borderRadius);
}

.image {
	--height: 40px;
	--heightMobile: 30px;
	height: var(--height);
	width: calc(var(--height) * 2.5);
	margin-right: 10px;
}

.title {
	color: var(--primaryColor);
	font-weight: bold;
	font-size: 13.5px;
}

.title2 {
	font-size: 13px;
}

.att {
	font-size: 12px;
	font-weight: bold;
	vertical-align: top;
}

.att2 {
	font-size: 12px;
	font-weight: bold;
	padding-right: 10px;
	word-break: unset;
	white-space: nowrap;
}

.attContent {
	font-size: 12px;
	vertical-align: top;
}

.attContent a {
	font-weight: bold;
	color: var(--primaryColor);
	text-decoration: none;
}

.attContentSharingIds {
	word-break: break-word;
}

.attContentLink {
	font-size: 12px;
	padding-top: 8px;
	font-weight: bold;
}

.attContentLink a {
	text-decoration: none;
	color: var(--primaryColor);
}

.outDated {
	color: red;
}


/* ============================== */
/* POPUP CANVAS		              */
/* ============================== */
#divParkingSites {
	display: flex;
}

#divTable {
	width: 173px;
}


/* REVERSE CONTROL LAYERS */
.mgl-layerControlDirectory>div:not(.directory) {
	display: flex;
	flex-direction: column-reverse;
}

.mgl-layerControlDirectory>div:not(.directory)>label.mgl-layerControlGroupHeading {
	order: 1;
}