/* ====================================================================== */
/* https://docs.maptiler.com/sdk-js/examples/control-style-switcher/      */
/* ====================================================================== */
.maplibregl-ctrl-basemaps {
    display: flex;
    flex-direction: column-reverse;
    pointer-events: auto;
    bottom: 15px;
    position: relative;
}

.maplibregl-ctrl-basemaps.reverse {
    flex-direction: row-reverse;
}

.maplibregl-ctrl-basemaps.column {
    flex-direction: column;
}

.maplibregl-ctrl-basemaps.column.reverse {
    flex-direction: column-reverse;
}

.maplibregl-ctrl-basemaps .basemap {
    margin: 2px;
    border: 2px solid #ccc;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    cursor: pointer;
}

.maplibregl-ctrl-basemaps .basemap.active {
    border-color: orange;
    box-shadow: 2px 2px 4px #000;
}

.maplibregl-ctrl-basemaps.closed .basemap {
    display: none;
}

.maplibregl-ctrl-basemaps.closed .basemap.active {
    display: block;
    border: 2px solid #ccc;
}


.maplibregl-ctrl-basemaps .basemap {
    border-radius: var(--borderRadius);
}

.maplibregl-ctrl-basemaps {
    bottom: 0px;
}


.maplibregl-ctrl-basemaps .basemap {
    position: relative;
}


.maplibregl-ctrl-basemaps .img,
.maplibregl-ctrl-basemaps .figcaption {
    position: absolute;

}

.maplibregl-ctrl-basemaps .img {
    width: 100%;
    height: 100%;
}

.maplibregl-ctrl-basemaps .figcaption {
    bottom: 0;
    font-weight: bold;
    justify-self: center;
    color: white;
    filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000);
}

@media (max-width: 575px) {
    .maplibregl-ctrl-basemaps .basemap {
        width: 60px;
        height: 60px;
    }

    .maplibregl-ctrl-basemaps .figcaption {
        font-size: 10px;
    }
}

@media (min-width: 576px) {
    .maplibregl-ctrl-basemaps .basemap {
        width: 90px;
        height: 90px;
    }

    .maplibregl-ctrl-basemaps .figcaption {
        font-size: 13px;
    }
} 